{% extends 'base.html.twig' %}

{% block title %}Hello StudentAccountController!{% endblock %}

{% block body %}

    <h1>Bonjour {{app.user.firstname|capitalize }} {{app.user.lastname|capitalize }}</h1>
    <h2>Mes informations</h2>
    <ul>
        <li>prénom : {{ app.user.firstname}}</li>
        <li>prénom : {{ app.user.lastname}}</li>
        <li>email : {{ app.user.email}}</li>
    </ul>
    <a href="{{ path('student_account_edit', {'id' : app.user.id}) }}" class="btn btn-primary mt-2">Changer mes informations</a>
    <a href="#" class="btn btn-success mt-2">Changer mon mot de passe</a>
    
{% endblock %}
